* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    height: 600px;
    background-image: url("./img/pattern.png");
    background-size: cover;
}

header img {
    max-width: 15%;
}
