* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 70px 0 20px 10px;
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    background-size: 35%;
    background-repeat: repeat;
}

header img {
    max-width: 15%;
}
